
    <br>

    <div class="row">
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id="total-ordenes">
                    <div class="card-header">
                        <h4 class="card-title">total de ordenes</h4>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ total_ordenes }}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id="ordenes-enviadas">
                    <div class="card-header">
                        <h4 class="card-title">Ordenes Enviadas</h4>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ enviados }}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id="ordenes-pendientes">
                    <div class="card-header">
                        <h4 class="card-title">Ordenes pendientes</h4>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ pendientes }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
