#logo{

}

body{
    background-color: #8A8A8A;
}

#total-ordenes{
    background-color: #35FF75;
}

#ordenes-enviadas{
    background-color: #35FF75;
}

#ordenes-pendientes{
    background-color: #35FF75