{% extends 'base/main.html' %}
{% block titulo %} Clientes {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h4>Cliente</h4>
            </div>
            <div class="card card-body">
                <a href="{% url 'actualizar_cliente' cliente.id %}" class="btn btn-outline-primary">
                    Actualizar cliente
                </a>
                <br>
                <a href="{% url 'eliminar_cliente' cliente.id %}" class="btn btn-outline-danger">
                    Eliminar cliente
                </a>
            </div>
        </div>

        <div class="col-md">
            <div class="card card-body">
                <h4>Información de contacto</h4>
            </div>
            <div class="card card-body">
                <p>Email: {{ cliente.email }}</p>
                <br>
                <p>Celular: {{ cliente.telefono }}</p>
            </div>
        </div>

        <div class="col-md">
            <div class="card card-body">
                <h4>Total de ordenes</h4>
            </div>
            <div class="card card-body">
                <h1 class="text-center mb-3">{{ numero_ordenes }}</h1>
            </div>
        </div>
    </div>
<br>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <form action="" method="GET">
                    {{orden_filter.form}}
                    <button class="btn btn-primary" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md">
            <table class="table table-sm">
                <tr>
                    <th>Producto</th>
                    <th>Categoria</th>
                    <th>Fecha de orden</th>
                    <th>Actualizar</th>
                    <th>Eliminar</th>
                </tr>
                {% for orden in ordenes %}
                    <tr>
                        <td>{{ orden.producto }}</td>
                        <td>{{ orden.producto.categoria }}</td>
                        <td>{{ orden.creado }}</td>
                        <td><a href="#" class="btn btn-warning">Actualizar</a></td>
                        <td><a href="#" class="btn btn-danger">Eliminar</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}