{% extends 'base/main.html' %}
{% block titulo %} Dashboard {% endblock %}

{% block content %}
    {% include 'base/estado.html' %}
    <br><br>
    <div class="row">
        <div class="col-md-5">
            <h4>Clientes</h4><hr>
            <div class="card card-body">
                <a class="btn btn-primary btn-sm btn-block" href="">Crear usuario</a>
                <table class="tabla-sm">
                    <tr>
                        <th></th>
                        <th>Cliente</th>
                        <th>Orden</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-7">
            <h4>Ultimas ordenes</h4>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary btn-sm btn-block" href="">Crear orden</a>
                <table class="table table-sm">
                    <tr>
                        <th>Producto</th>
                        <th>Fecha de Orden</th>
                        <th>Estado</th>
                        <th>Acrualizar</th>
                        <th>Eliminar</th>
                    </tr>

                </table>
            </div>
        </div>
    </div>
{% endblock %}